<%= link_to root_path, class: 'item' do %>
  <i class="home icon"></i>
  Home
<% end %>

<%= link_to admin_path, class: 'item' do %>
  <i class="clipboard icon"></i>
  Dashboard
<% end %>

<%= link_to users_path, class: 'item' do %>
  <i class="user icon"></i>
  Users
<% end %>

<%= link_to employees_path, class: 'item' do %>
  <i class="users icon"></i>
  Employees
<% end %>

<a class="item">
  <i class="smile icon"></i>
  Friends
</a>

<a class="item">
  <i class="calendar icon"></i>
  History
</a>
