<h2 class="ui center aligned icon header">
    <i class="circular blue window maximize outline icon"></i>
    Applications
</h2>

<% if Program.count > 0 %>

  <div class="ui grid">
    <div class="eight column row">
      <div class="right floated column">
        <%= link_to 'Add Application', new_program_path, class: 'ui button primary' %>
      </div>
    </div>
  </div>

  <table class="ui striped selectable celled table">
      <thead>
          <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Status</th>
              <th>Admin</th>
          </tr>
      </thead>
      <tbody>
          <%= render @programs %>
      </tbody>
  </table>

  <div align="center">
      <%= will_paginate @programs %>
  </div>
<% else %>
  <h3 class="ui top attached header">
    No Applications
  </h3>
  <div class="ui attached segment">
    <p>
      There currently no applications. To add one click the "Add Application" button. <br />
      <%= link_to 'Add Application', new_program_path, class: 'ui button primary' %>
    </p>
  </div>
<% end %>
