<h2 class="ui center aligned icon header">
  <i class="circular users icon"></i>
  User Management
</h2>

<div class="ui grid">
  <div class="eight column row">
    <div class="right floated column">
      <%= link_to 'Add User', new_user_path, class: 'ui button primary' %>
    </div>
  </div>
</div>

<table class="ui striped table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>E-mail</th>
      <th>Role</th>
      <th>status</th>
      <th>Manage</th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>
